<head>

<LINK href="/css/interface.css" rel="stylesheet" type="text/css" />
<LINK href="/css/flat-ui.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="/js/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="/js/interface.js"></script>


</script>

</head>

<body>

<div class="mainContainer">

<div class="title">Controle Remoto</div>

<div class="buttonBlock"><span class="buttonTitle">LED</span>

        <button class="btn btn-block btn-lg btn-primary" type="button" id="1" onClick="buttonClick(this.id)">On</button>
        <button class="btn btn-block btn-lg btn-danger" type="button" id="2" onClick="buttonClick(this.id)">Off</button>

</div>

</div>
</body>
